/*
author:neelu
theme=food website 

*/
*{
	padding: 0;
	margin: 0;
	font-family: Arial,Helvetic,sans-serif;
}
.container{
/*	border: 2px solid black;*/
	width: 80%;
	margin: 0 auto;
	padding: 1%;


}
@media only screen and (max-width:960px){
	.container{
		width: 80%;
	}
}
.text-right{
	text-align: right;

}
.text-center{
	text-align: center;
}
.clearfix
{
clear: both;
float: none;
}
a{
	color:orangered;
	text-decoration: none;

}a:hover{
	color: orange;
}
.btn{
	padding: 1%;
	border: none;
	font-size: 1rem;
	border-radius: 5px;

}
.btn-primary{
	background-color: orange;
	color: white;
	cursor: pointer;
	border-radius: 5px;

}
.btn-primary:hover{
	color: white;
	background-color: orangered;
}
.btn-danger{
	background-color: red;
	padding: 1%;
	color: black;
/*	text-decoration: none;*/
	font-weight: bold;
	text-align: center;
	
}
.btn-success
{
	background-color: green;
	padding: 1%;
	color: black;
/*	text-decoration: none;*/
	font-weight: bold;
	text-align: center;
}
h2{
	color: #2f3542;
	font-size: 2rem;
	margin-bottom: 2%;
}
h3{
	font-size: 1.5rem;
}
.float-container{
	position: relative;

}
.float-text{
    position: absolute;
    bottom: 50px;
    left: 40%;
}
fieldset{
    border: 1px solid white;
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
}



/*	height: 10%;*/
}
.float-text{
	position: absolute;
	bottom: 60px;
	left: 40%;
}
.text-white{
	color: white;
}
.img-curve{
	border-radius: 15px;
	
}

/*css for navbar*/
.logo img{
	margin-left: -10%;
	width: 80px;
	height: 80px;
	float: left;
	border-radius:50%;

/*	rotate: 50%;*/
}
.mennnu{
	line-height: 60px;
}

.mennnu ul{
	list-style-type: none;
}
.mennnu ul li{
	display: inline;
	padding: 1%;
	font-weight: bold;

}

/*search   section*/
.search{
	background-image: url(imgs/bg1.webp);
/*	opacity: 0.2;*/
	margin-top: 12px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 10% 0;
}
.search input[type="search"]{
	width: 50%;
	padding: 1%;
	font-size: 1rem;
	border: none;
	border-radius: 5px;


}

/* css for categories */
.categories{
	padding: 4% 0;
}
.box1{
	width: 28%;
	float: left;
	margin: 2%;
}

/*css for food  menu*/
.menu{
	display: grid;
	background-color: #ececec;
	padding: 4% 0;
}
.food_menu1{
	border: 1px solid black;
	width: 41%;
	margin: 1% ;
	float: left;
	padding: 2%;
	background-color: white;
	border-radius: 15px;
}
.food-menu-img{
	width: 18%;
	float: left;
}
.food-menu-desc{
	width: 70%;
	float: left;
	margin-left: 8%;
}
.food-price{
	font-size: 1.2rem;
	margin: 2% 0;
}
.food-detail{
	font-size: 1rem;
	color: #747d8c;
}
/*css for socail*/
.socail ul{
	list-style-type: none;
}
.socail ul li{
	display: inline;
	padding: 1%;
}
.order-label{
	    margin-bottom: 1%; 
    font-weight: bold;
}
.order form{
	background-color: lightblue;
	    width: 50%;
    margin: 0 auto;
}
.input-responsive{
	    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.box1 float-container{	transition: all 2s ease;
	transform: scale(2) !important;
}

/* CSS for Mobile Size or Smaller Screen */

@media only screen and (max-width:768px){
    .body{
        width: 80%;
        float: none;
        margin: 1% auto;
    }

    .mennnu ul{
        text-align: center;
    }

    .search input[type="search"]{
        width: 90%;
        padding: 2%;
        margin-bottom: 3%;
    }

    .btn{
        width: 91%;
        padding: 2%;
    }

    .food-search{
        padding: 10% 0;
    }

    .categories{
        padding: 20% 0;
    }
    h2{
        margin-bottom: 10%;
    }
    .box1{
        width: 100%;
        margin: 4% auto;
    }

    .food-menu{
        padding: 20% 0;
    }

    .food-menu-box{
        width: 90%;
        padding: 5%;
        margin-bottom: 5%;
    }
    .social{
        padding: 5% 0;
    }
    .order{
        width: 100%;
    }
